<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.geckotang.lgtmin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D4DA7C80-5973-4657-BB41-5E5102F729B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E75679B2-4400-43F9-ADE4-AA8E4CBFD1A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@GeckoTang</string>
	<key>description</key>
	<string>Copy LGTM.in image to Clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LGTM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E75679B2-4400-43F9-ADE4-AA8E4CBFD1A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lgtm</string>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>require_once("lgtm.php");</string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>Copy LGTM</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4DA7C80-5973-4657-BB41-5E5102F729B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>D4DA7C80-5973-4657-BB41-5E5102F729B1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E75679B2-4400-43F9-ADE4-AA8E4CBFD1A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/geckotang/alfred-lgtmin-workflow</string>
</dict>
</plist>
